Task
In this challenge, you'll write Pandas code to report on the attention.csv dataset. Take a moment to familiarize yourself with the dataset.

The three queries will be:

Report how many times it is better to focus than to divide one's attention based on the average scores in the dataset. Return the resulting ratio.
Report the solutions id with the highest average score.
Report the top 10 subjects ranked by the score in descending order. If there are ties in the scores, the subjects should be sorted by subject ID in ascending order. Reset indexes before returning the report.
Note: beware that a subject can appear more than once in the data.
See the function documentation and test cases for further details.

Rubric
Your code will be evaluated on correctness foremost, established by passing the submission test cases. We're looking for clean, idiomatic Pandas and Python code among passing solutions.

Resources
You may use Python and Pandas documentation as you solve the challenge.

In [2]:
import pandas as pd

In [3]:
link = "https://raw.githubusercontent.com/mwaskom/seaborn-data/refs/heads/master/attention.csv"

In [4]:
df = pd.read_csv(link)

In [5]:
df.head()

   Unnamed: 0  subject attention  solutions  score
0           0        1   divided          1    2.0
1           1        2   divided          1    3.0
2           2        3   divided          1    3.0
3           3        4   divided          1    5.0
4           4        5   divided          1    4.0

In [6]:
#Report how many times it is better to focus than to divide one's attention based on the average scores in the dataset. Return the resulting ratio.

In [7]:
df_1 = df.groupby("attention")["score"].mean().reset_index(name="mean")
df_1

  attention      mean
0   divided  5.116667
1   focused  6.800000

In [8]:
focused = df_1[df_1["attention"] == "focused"]["mean"].values[0]
divided = df_1[df_1["attention"] == "divided"]["mean"].values[0]

# Calculate the ratio
ratio = focused / divided
ratio

1.3289902280130295

DONE 1

In [10]:
#Report the solutions id with the highest average score.

In [11]:
df_2 = df.groupby("solutions")["score"].mean().reset_index(name="mean").sort_values("mean", ascending = False).values[0]

In [12]:
df_2

array([3.  , 6.55])

DONE 2

In [14]:

#Report the top 10 subjects ranked by the score in descending order. 
#If there are ties in the scores, the subjects should be sorted by subject ID in ascending order. Reset indexes before returning the report.
#Note: beware that a subject can appear more than once in the data

In [48]:
df.drop("Unnamed: 0", axis=1, inplace=True)

In [70]:
sorted_df = df.sort_values(by=["score", "subject"], ascending=[False, True])[["subject", "score"]].reset_index(drop=True).head(10)

In [72]:
sorted_df

   subject  score
0       12    9.0
1       13    9.0
2        5    8.0
3        8    8.0
4       12    8.0
5       12    8.0
6       14    8.0
7       14    8.0
8       15    8.0
9       15    8.0